<%= javascript_pack_tag 'product.js' %>
<div class="products-search">
  <input type="text" id="products-search-txt" autofocus>
  <div class="results" id="product-search-results"></div>
</div>
<script>
  $(function() {
    new app.Books;
  });
</script>
