<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId=1490192457847512&autoLogAppEvents=1" nonce="4hLvFKWX"></script>

